#window {
    box-sizing: border-box;
    height: 80vh;
    margin-top: 10vh;
    width: 70vw;
    border: 5px;
    border-radius: 10px;
    border-color: #EEEEEE;
    border-style: solid;
    text-align: center;
}

#index-header {
    margin-top: 20vh;
    font-size: 3.5vw;
}

#index-form {
    margin: auto;
    margin-top: 5vh;
    max-width: 25vw;
    text-align: center;
}